/* Shared style */
* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: 20px;


}

/* Nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Header related style */
.header-class {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 584px;
    height: 676px;
    /* align-items: end; */

}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    color: #181818;
    font-weight: 700;
    margin-top: 5px;
}

.banner-description {
    font-size: 18px;
    color: #757575;
    padding-top: 20px;
    padding-bottom: 18px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: #FFF8F3; */
}

main section {
    margin-top: 130px;
}

.section-title {
    text-align: center;
    color: #181818;
    font-size: 35px;
}

.section-description {
    /* align-items: le; */
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin: 30px;
}

/* about section */
.about {
    background-color: #FFF8F3;
    padding: 130px;
    border-radius: 10px;
    margin: 130px 0;

}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;

}



.info-title {
    color: #474747;
    font-weight: 400;
}

.info-description {
    color: #181818;
    font-weight: 600;

    font-size: 20px;
}

/* skills related styles */
#what-i-do {
    padding: 30px 10px;
}

.skill-section {
    display: flex;

    gap: 24px;

}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 3px 6px 50px 4px rgba(0, 0, 0, 0.06);

}

.skill:hover {
    background-color: antiquewhite;
    /* zoom: 1; */

}

.skill-title {
    color: var(--Dark-01, #181818);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skill-description {
    /* padding: 30px; */
    color: var(--Dark-03, #757575);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

/* resume section style */
.resume-column-title {
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;

}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-description,
.resume-item-title {
    color: var(--Dark-03, #757575);
    margin-bottom: 10px;
}

.resume-item-title {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 25px;

}

.resume-item-isntitute {
    margin: 10px 0;
}

.resume-container hr {
    margin: 30px;
}

.download-cv {
    text-align: center;
    margin: 40px;
}

/* footer style */
footer {
    display: flex;
    background-color: #FFF8F3;
    gap: 100px;
    margin-top: 100px;
    padding: 130px 230px;
}

.footer-column {
    width: 50%;
}

.contact input,
textarea {
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border: 0;
    width: 100%;
}

.contact