/* Shared style */
body {
    font-family: 'Open Sans', sans-serif;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: 20px;

}

/* Nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}